:root {
  --bugs-width: 360px;
  --bugs-height: 360px;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bugs__content {
  border-radius: 16px;
  overflow: hidden;
}

.bugs__navigation {
  display: flex;
  justify-content: space-between;
  width: var(--bugs-width);
}

.bugs__btn {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: transparent;
  color: darkgray;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.2s;
}

.bugs__btn:hover {
  color: white;
}

.bugs__btn:focus {
  outline: none;
}

.bugs__btn:focus-visible {
  border-color: skyblue;
  color: skyblue;
  outline: none;
}
